@page "/"

<MudGrid Class="mt-5">
    <MudItem xs="6">
        <MudItem xs="6">
            @*<RequestRulesSummaryComponent></RequestRulesSummaryComponent>*@
        </MudItem>
        <MudItem xs="6">
        </MudItem>
    </MudItem>
    <MudItem xs="6">
        <MudCard>
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">Latest Request Events</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <div class="overflow-y-scroll h-75">
                    <RequestEventsComponent></RequestEventsComponent>
                </div>
            </MudCardContent>
        </MudCard>
    </MudItem>
</MudGrid>

@code {
}
