@if (Request is not null)
{
    <div class="d-flex justify-space-between">
        <div>@Request.MethodLabel</div>
        <div>@Request.Path</div>
    </div>
}

@code {
    [Parameter]
    public CustomRequestDto? Request { get; set; }
}
