@inject HttpClient Http

<div>
    @foreach (var request in CustomRequests)
    {
        <MudList>
            <MudListItem>
                <CustomRequestListItem Request=@request></CustomRequestListItem>
            </MudListItem>
        </MudList>
    }

</div>

@code {
    private CustomRequestDto[] CustomRequests = Array.Empty<CustomRequestDto>();

    protected override async Task OnInitializedAsync()
    {
        var customRequests = await Http.GetFromJsonAsync<CustomRequestDto[]>("api/v1/request");
        if (customRequests is not null)
        {
            CustomRequests = customRequests;
        }
        await base.OnInitializedAsync();
    }
}
