@if (request is not null)
{
    <div class="d-flex justify-space-between">
        <div>@request.Method</div>
        <div>@request.ArrivalDate.ToLongTimeString()</div>
    </div>
}

@code {
    [Parameter]
    public RequestItemDto? request { get; set; }
}
