<div>
    @foreach (var item in Items)
    {
        <MudList>
            <MudListItem>
                <RequestListItem OnClick="ChangeSelectedItem" Request=@item></RequestListItem>
            </MudListItem>
        </MudList>
    }

</div>

@code {
    [Parameter]
    public List<RequestItemDto> Items { get; set; } = new List<RequestItemDto>();

    [Parameter]
    public EventCallback<RequestItemDto> OnSelectedItem { get; set; }

    private async Task ChangeSelectedItem(RequestItemDto requestItem)
    {
        await OnSelectedItem.InvokeAsync(requestItem);
    }
}
