<div>
    <MudTabs>
        <MudTabPanel Text="Raw">
            <MudText Typo="Typo.body2">
                <div class="ma-3">
                    @Body
                </div>
            </MudText>
        </MudTabPanel>
        <MudTabPanel Text="Pretty">
            <MudText Typo="Typo.body1">
                <div class="ma-3">
                    @Body
                </div>
            </MudText>
        </MudTabPanel>
    </MudTabs>
</div>

@code {
    public string Body = "{ name: 'Kevin' }";
}
