<div>
    @foreach (var item in Items)
    {
        <MudList>
            <MudListItem>
                <RequestListItem Request=@item></RequestListItem>
            </MudListItem>
        </MudList>
    }

</div>

@code {
    [Parameter]
    public List<RequestItemDto> Items { get; set; } = new List<RequestItemDto>();
}
