@inject IJSRuntime JSRuntime

<MudTabs>
    <MudTabPanel>
        <TabContent>
            Raw
        </TabContent>
        <ChildContent>
            <p class="my-10">
                @Body
            </p>
        </ChildContent>
    </MudTabPanel>
    <MudTabPanel>
        <TabContent>
            Pretty
        </TabContent>
        <ChildContent>
            <pre class="my-10">
                @JsonBody
            </pre>
        </ChildContent>
    </MudTabPanel>
</MudTabs>

@code {
    [Parameter]
    public string Body { get; set; } = string.Empty;

    [Parameter]
    public string JsonBody { get; set; } = string.Empty;

    //ElementReference JsonEditorContainer;

    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    if (firstRender)
    //    {
    //        await JSRuntime.InvokeVoidAsync("BlazorInterop.LoadJsonEditor", JsonEditorContainer, Body);
    //    }

    //    await base.OnAfterRenderAsync(firstRender);
    //}
}
