<div>
    <MudTable Items="Headers">
        <HeaderContent>
            <MudTh>
                Header
            </MudTh>
            <MudTh>
                Value
            </MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Header">@context.Name</MudTd>
            <MudTd DataLabel="Value">@context.Value</MudTd>
        </RowTemplate>
    </MudTable>
</div>


@code {
    [Parameter]
    public IEnumerable<RequestHeaderDto> Headers { get; set; } = new List<RequestHeaderDto>();
}
