@if (Request is not null)
{
    <div class="d-flex justify-space-between" @onclick="@(e => Clicked(Request))">
        <div>@Request.Method</div>
        <div>@Request.ArrivalDate.ToLongTimeString()</div>
    </div>
}

@code {
    [Parameter]
    public RequestItemDto? Request { get; set; }

    [Parameter]
    public EventCallback<RequestItemDto> OnClick { get; set; }

    private async Task Clicked(RequestItemDto requestItem)
    {
        await OnClick.InvokeAsync(requestItem);
    }
}
