@if (RequestEvent is not null)
{
    <div class="d-flex justify-space-between">
        <MudText>@RequestEvent.Method</MudText>
        <MudText>@RequestEvent.ArrivedTimeLabel()</MudText>
        <MudIcon Icon="@Icons.Material.Filled.Preview" Title="View" @onclick="@(async () => await View())" />
    </div>
}

@code {
    [Parameter]
    public RequestEventDto? RequestEvent { get; set; }

    [Parameter]
    public EventCallback OnView { get; set; }

    private async Task View()
    {
        await OnView.InvokeAsync();
    }
}
