@inject IJSRuntime JSRuntime

<div>
    <MudTabs>
        <MudTabPanel>
            <TabContent>
                Raw
            </TabContent>
            <ChildContent>
                <div class="ma-3">@Body</div>
            </ChildContent>
        </MudTabPanel>
        <MudTabPanel>
            <TabContent>
                Pretty
            </TabContent>
            <ChildContent>
                <div class="ma-3">@Body</div>
            </ChildContent>
        </MudTabPanel>
    </MudTabs>
</div>

@code {
    [Parameter]
    public string Body { get; set; } = string.Empty;

    //ElementReference JsonEditorContainer;

    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    if (firstRender)
    //    {
    //        await JSRuntime.InvokeVoidAsync("BlazorInterop.LoadJsonEditor", JsonEditorContainer, Body);
    //    }

    //    await base.OnAfterRenderAsync(firstRender);
    //}
}
