<MudDialog>
    <DialogContent>
        <div class="pa-5">
            <MudContainer Style="max-height: 80%; overflow-y: scroll">
                <MudText Typo="Typo.h5">
                    Headers
                </MudText>
                <div class="mt-3">
                    <RequestHeadersComponent Headers="Request.Headers"></RequestHeadersComponent>
                </div>
                <div class="mt-5">
                    <MudText Typo="Typo.h5">
                        Body
                    </MudText>
                    <RequestBodyComponent Body=@Request.Body JsonBody=@Request.JsonBody></RequestBodyComponent>
                </div>
            </MudContainer>
        </div>
    </DialogContent>
</MudDialog>

@code {
    [Parameter] 
    public RequestDto Request { get; set; } = new RequestDto();
}
